button{
    padding: 0.6em 1.2em;
    font-size: 1em;
    border: none;
    background-color: inherit;
    display: inline-flex;
    width: 60%;
    color: #8ecae6;
    outline: none ;
    filter: brightness(70%);
  }
  .link-span{ 
    display: block;
    width: 1em;
    border-top: 1px solid #8ecae6; 
    margin: 0.5em 0; 
    margin-right: 0.5em;
    transition: 250ms;
  }

  .classActive{
    filter: drop-shadow(0 0 2em #219EBC);
    font-weight: bolder;
    filter: brightness(100%);
    .link-span{
      width: 4em;
      border-top: 2px solid #8ecae6; 
      transition: 250ms;
    }
  }

button:hover{
    filter: drop-shadow(0 0 2em #219EBC);
    font-weight: bolder;
    .link-span{
      width: 4em;
      border-top: 2px solid #8ecae6; 
      transition: 250ms;
    }
  }

  @media (max-width: 1000px){
   
    .link-span{
        display: none;
    }
    
  }
  