* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url('./assets/mountains.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
  color: #fff;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.project-text{
  padding: 1em;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
    text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.project-side::-webkit-scrollbar {
  display: none;
}

.logo{
  height: 4em;
  padding: 10px;
  transition: 0.5s;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.tg-logo{
  height: 80px;
}
.page-body{
  display: flex;
  height: 100vh;
  justify-items: center;
  padding-left: 10%;
  
}

.project-side{
  display: flex;
  flex-direction: column;
  gap: 200px;
  height: 100vh;
  max-width: 50%;
  padding-top: 3em;
  flex: 1;
  overflow-y: auto;
  padding-right: 5%;
}
.name-container{
  max-width: 320px;
  
}
.side-bar{
  display: flex;
  flex: 0 0 40%;
  width: 40%;
  align-items: center;
  justify-content: center;
  text-align: start;
  z-index: 1;
}

.contacts-container{
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 100px;
}
.contacts-container{
  display: flex;
  align-items: center;
}
.card-container{
  display: flex;
  align-items: center;
}
.header-card{
  position: sticky;
}
.project-card a {
  display: block;
  width: 100%;
  text-decoration: none; 
  color: inherit; 
}
.stack-container {
  display: flex;
  margin-top: 10px; 
  
}

.stack-container span {
  padding: 5px 10px; 
  border: 1px solid;
  border-radius: 10px;
  font-size: 14px;
  margin: 10px;
}

.project-img{
  position: relative;
  max-height: 400px;
  max-width: 100%;
  transition: 250ms;
  z-index: 1001;
}

.project-card{
  display: flex;
  height: 100vh;
  align-items: center;
  box-sizing: border-box;
  margin: 10px;
  transition: 100ms;
  margin: 0%;
  padding: 10px;
  margin-top: 100px;
}

.project-links ul{
  margin-bottom: 18em;
}
.about-card{
  display: flex;
  height: 100vh;
  align-items: center;
}
.about{
  display: flex;

  height: 100vh;
  padding-top: 5em;
  padding-bottom: 5em;
  align-items: center;
  line-height: 2em;
  font-size: large;
  background: rgba(0, 0, 0, 0.5);
}

.project-name{
  margin: 2em;
}
.side-bar h1{
  margin:0%;
}
#dark{
  margin-bottom: 100px;
}

.logo:hover{
  height: 4em;
  padding: 0;
  transition: 0.5s;
  filter: drop-shadow(0 0 3em #3c899c);
}
.project-img:hover{
  transform: translateX(20px) translateY(-20px);
  box-shadow: rgba(255, 255, 255, 0.2) -25px 25px;
}
.project-img:hover .project-name {
  transform: scale(1.1);
}
.project-name:hover{
  transform: rotate(45deg);
}
.project-card:hover{
  background: rgba(0, 0, 0, 0.5);  }


@media (max-width: 1000px) {
  body{
    min-height: 100%;
   
  }
  .page-body {
    flex-direction: column;
    padding: 0;
  }

  .side-bar {
    flex: 1;
    order: -1; 
    width: 100%;
  }
  .header-card{
    width: 100%;
    margin: 1em;
  }
  .project-side {
    max-width: 100vw;
    flex: 1;
    order: 1; 
    overflow-y: visible;
    gap: auto;
  }
  .project-card{
    height: 100%;
    background: rgba(0, 0, 0, 0.5);

  }
 
  .project-img {
    flex: 1; 
    object-fit: cover; 
    width: 100%; 
    margin-bottom: 10px; 
    transition: 250ms;
  }
  .project-h h4{
    margin-top: 10%;
  }
  .project-side{
    padding-left: 1em;
    padding-right: 1em;
  }
  
  .side-bar button{
    width: auto;
  }
  .about{
    padding-top: 1em;
    line-height: 1.5em;
    font-size: medium;
    background: rgba(0, 0, 0, 0.5);
  }
 
  .stack-container{
    display: flex;
    flex-wrap: wrap;
  }
  .project-img{
    height: auto;
  }
  .about{
    height: auto;
  }
}
