

body{
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100wh;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  /* background-color: #132845; */
  background-image: url('./assets/mountains.jpg');
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  height: 100vh;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: rgba(142, 202, 230, 0.8); 
}
body::before{
  
}

#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.project-side::-webkit-scrollbar {
  display: none;
}

.logo{
  height: 30px;
  padding: 10px;
  transition: 0.5s;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.tg-logo{
  height: 80px;
}
.page-body{
  display: flex;
  
}
.name-container{
  max-width: 320px;
  
}

.side-bar {
  flex: 0 0 40%;
  /* background-color: #132845; */
  vertical-align: middle;
  text-align: start;
  padding-left: 5%;
  padding-top: 3em;
  padding-bottom: 10px;
}
.project-side{
  display: flex;
  flex-direction: column;
  gap: 200px;
  padding-top: 3em;
  flex: 1;
  /* background-color: #132845; */
  max-height: 800px;
  overflow-y: auto;
  padding-right: 5%;
}
.project-card a {
  display: block;
  width: 100%;
  text-decoration: none; 
  color: inherit; 
}
.stack-container {
  display: flex;
  margin-top: 10px; 
  color: #8ecae6;
}

.stack-container span {
  padding: 5px 10px; 
  border: 1px solid;
  border-radius: 10px;
  /* background-color: #1e6091;  */
  font-size: 14px;
  margin: 10px;
}

.project-img{
  max-height: 400px;
  max-width: 100%;
  border-radius: 5px;
}
.project-card{
  display: flex;
  flex-direction: column;
  max-height: 100%;
  box-sizing: border-box;
  margin: 10px;
  transition: 100ms;
  margin: 0%;
  padding: 10px;
  margin-top: 100px;
}

.project-links ul{
  margin-bottom: 18em;
}
.about{
  height: 100vh;
  padding-top: 5em;
  padding-bottom: 10em;
  line-height: 2em;
  font-size: large;
  background: rgba(0, 0, 0, 0.5);
}


.side-bar h1{
  margin:0%;
}
#dark{
  margin-bottom: 100px;
}

.logo:hover{
  height: 40px;
  padding: 0;
  transition: 0.5s;
  filter: drop-shadow(0 0 3em #3c899c);
}


.project-card:hover{
  background: rgba(0, 0, 0, 0.5);  }


@media (max-width: 1000px) {
  body{
    background-size: cover;
    height: 100vh;
  }
  .page-body {
    flex-direction: column;
  }

  .side-bar {
    flex: 1;
    order: -1; 
    overflow-y: auto;
  }

  .project-side {
    flex: 1;
    order: 1; 
    overflow-y: visible;
    gap: auto;
  }
  .project-card{
    height: 100%;
    background: rgba(0, 0, 0, 0.5);

  }
  .project-img {
    flex: 1; 
    object-fit: cover; 
    width: 100%; 
    margin-bottom: 10px; 
    
  }
  .project-h h4{
    margin-top: 10%;
  }
  .project-side{
    padding-left: 1em;
    padding-right: 1em;
  }
  
  .side-bar button{
    width: auto;
  }
  .about{
    padding-top: 1em;
    background: rgba(0, 0, 0, 0.5);
  }
 
  .stack-container{
    display: flex;
    flex-wrap: wrap;
  }
  .project-img{
    height: auto;
  }
  .about{
    height: auto;
  }
}
